# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8' # needs to be 8, not 1.8 or 11 
        distribution: 'temurin'
        cache: maven
    - name: Build and test with maven # runs tests and builds jar file (see shade plugin). -f devops because src folder is a directory down
      run: mvn clean package -f devops/
    - name: Configure AWS Credentials # sets the aws IAM credentials to acces Elastic Beanstalk and S3 bucket
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
        aws-region: "us-east-1"

    - name: Upload package to S3 bucket # updates jar file in S3 bucket with the most recent build. Notice syntax
      run: aws s3 cp devops/target/devops-1.0-SNAPSHOT.jar s3:/example-hosting-static-website-bucket

    - name: Create new ElasticBeanstalk Application Version # creates a new version of the application in Beanstalk
      run: |
        aws elasticbeanstalk create-application-version \
        --application-name DevOps \
        --source-bundle S3Bucket="example-hosting-static-website-bucket",S3Key="devops-1.0-SNAPSHOT.jar" \
        --version-label "ver-${{ github.sha }}" \
        --description "commit-sha-${{ github.sha }}"

    - name: Deploy new ElasticBeanstalk Application Version # updates environment with new version of application
      run: aws elasticbeanstalk update-environment --environment-name Devops-env --version-label "ver-${{ github.sha }}"
